{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyNXTb75jXdzy5p+IzlT4xNE"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"zuTk7i66CZQE"},"outputs":[],"source":["streamlit\n","pandas\n","scikit-learn"]}]}